 .home-container{
    width: 100vw;
    height: 100vh;
    background-size: cover;
    position: relative;
    line-height: 0;
    background: red; /* For browsers that do not support gradients */    
    background: -webkit-linear-gradient(0deg, red, yellow); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(0deg, red, yellow); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(0deg, red, yellow); /* For Firefox 3.6 to 15 */
    background: linear-gradient(0deg, red, yellow); /* Standard syntax (must be last) */
}
img {
    float: left;
}
img:hover {
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}